.form{
    display: flex;
    flex-direction: row;
}

.messages {
    max-height: 400px;
}
.right-container {
    margin: auto;
    margin-top: 0;
    margin-right: 0;
}
.left-container{
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
}